@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500');
$mainColor: #50E3C2;
$b: #000;
$w: #fff;
$grey: rgba(#000,0.3);
$grey-light: rgba(#000,0.1);
body {
  font-family: 'Roboto', sans-serif; // background-color: cornflowerblue;
}

h1 {
  font-size: 72px;
  font-weight: 600;
}

h2,.num {
  font-size: 48px;
  font-weight: 600;
}

.product {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
}
