@import 'reset';
@import 'base';

$wGrid: 1fr;
$hGrid: 100px;
.container{
  max-width: 960px;
  margin: 0 auto;
  padding: 50px;
}
.header{
  text-align: center;
}
.sub-title{
  font-size: 20px;
  background-color: $b;
  color: $w;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.app{
  display: grid;
  margin-top: -100px;
  box-sizing: border-box;
 
 
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(19, 100px);
}
.box{
  display: grid;
  .img{
    background-size: cover;
    background-position: center center;
  }
  .s-border{
    border: 20px solid $mainColor;
    box-sizing: border-box;
  }
  .s-pattern{
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, $mainColor), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, $mainColor), color-stop(0.75, #50E3C2), color-stop(0.75, transparent), to(transparent));
    background-size: 40px 40px;
  }
  .s-bg{
    background-color: $mainColor;
  }
  .title{
    position: relative;
    &::before{
      content: attr(text);
      position: absolute;
      top: -16px;
      left: 0;
      width: 100%;
      color: rgba(0, 0, 0, 0.3);
      height: 22px;
      overflow: hidden;
    }
    &::after{
      content: attr(text);
      position: absolute;
      color: rgba(0, 0, 0, 0.1);
      top: -25px;
      left: 0;
      width: 100%;
      height: 15px;
      overflow: hidden;
    }
  }
  .product, .title{
    white-space:nowrap;
  }
}
.box7{
  grid-area: 16/1/span 5/span 3; 
  grid: repeat(5, $hGrid)/repeat(3, $wGrid);
  .img{
    grid-area: 2/1/span 4/span 2; 
  }
  .title{
    grid-area: 2/1/2/3;
    transform: translate(50%, 67.5%) rotate(90deg);
    justify-self: self-end; 
  }
  .s-bg{
    grid-area: 4/3/span 2 /span 1;
  }
  .s-border{
    grid-area: 1/1/span 4 /span 2;
    transform: translate(25%, 10%);
    z-index: -1;
  }
  .num{
    grid-area: -2/-2;
    align-self: flex-end;
    text-align: right;
  }
  .product{
    grid-area: 1/1;
    align-self: flex-end;
    // text-align: center;
  }
}
.box6{
  grid-area: 14/4/span 5/span 5; 
  grid: repeat(5, $hGrid)/repeat(5, $wGrid);
  .img{
    grid-area: 2/2/span 4/span 4; 
  }
  .title{
    grid-area: 1/3/span 1/span 3;
    align-self: flex-end;
  }
  .s-bg{
    grid-area: 4/1/span 2 /span 1;
    transform: translate(50%, 0%);
    z-index: -1;
  }
  .s-border{
    grid-area: 5/2/span 1 /span 4;
    transform: translate(0%, 50%);
    z-index: -1;
  }
  .num{
    grid-area: 3/1;
    align-self: flex-end;
    text-align: right;
  }
  .product{
    grid-area: -1/3/span 1/span 2;
    text-align: center;
  }
}
.box5{
  grid-area: 12/1/span 3/span 4; 
  grid: repeat(3, $hGrid)/repeat(4, $wGrid);
  .img{
    grid-area: 2/3/span 2/span 2; 
  }
  .title{
    grid-area: 2/1/span 1/span 3;
    align-self: flex-end;
  }
  .s-pattern{
    grid-area: 1/1/span 1 /span 2;
    transform: translate(25%, 50%);
  }
  .s-border{
    grid-area: 3/2/span 1 /span 2;
    transform: translate(0%, 50%);
    z-index: -1;
  }
  .num{
    grid-area: -2/2;
    align-self: flex-end;
  }
  .product{
    grid-area: 2/5;
  }
}
.box4{
  grid-area: 8/6/span 5/span 3; 
  grid: repeat(5, $hGrid)/repeat(3, $wGrid);
  .img{
    grid-area: 2/2/span 4/span 2; 
  }
  .title{
    grid-area: 2/2/span 1/span 2;
    transform: translate(-50%, -25%) rotate(-90deg);
  }
  .s-pattern{
    grid-area: 5/2/span 1 /span 2;
    transform: translate(0, 50%);
  }
  .s-border{
    grid-area: 1/1/span 2 /span 2;
    transform: translate(25%, 0%);
    z-index: -1;
  }
  .num{
    grid-area: -2/1;
    text-align: right;
    align-self: flex-end;
  }
  .product{
    grid-area: 1/3/span 2/span 1;
    writing-mode: vertical-rl;
    transform: translate(0, -25%);
    justify-self: center;
  }
}
.box3{
  grid-area: 8/1/span 4/span 4; 
  grid: repeat(4, $hGrid)/repeat(4, $wGrid);
  .img{
    grid-area: 2/1/4/5; 
  }
  .title{
    grid-area: 1/2/1/5;
    align-self: flex-end;
    text-align: right;
  }
  .s-bg{
    grid-area: 1/1/span 1 /span 2;
    transform: translate(0, 50%);
    z-index: -1;
  }
  .s-border{
    grid-area: 2/3/span 2/span 2;
    transform: translate(25%, 25%);
    z-index: -1;
  }
  .num{
    grid-area: 4/5;
  }
  .product{
    grid-area:4/1/span 1/span 2;
    text-align: right; 
  }
}
.box2{
  grid-area: 3/6/span 3/span 3; 
  grid: repeat(3, $hGrid)/repeat(3, $wGrid);
  .img{
    grid-area: 2/1/span 2/span 2; 
  }
  .s-bg{
    grid-area: 2/1/4/3; 
  }
  .s-border{
    grid-area: 1/2/3/4; 
  }
  .s-bg{
    transform: translate(25%, -25%);
    z-index: -1;
  }
  .num{
    grid-area: 1/3;
    justify-self: flex-end;
  }
  .title{
    grid-area: 4/2/span 1 /span 2; 
    transform: translate(0, 50%);
  }
  .product{
    align-self: flex-end;
  }
}
.box1{
  grid-area: 2/1/span 5/span 6; 
  grid: repeat(5, $hGrid)/repeat(6, $wGrid);
  .img{
    grid-area: 2/1/6/5; 
  }
  .num{
    grid-area: 6 / 1;
  }
  .title{
    grid-area: 2/1/2/5;
  }
  .product{
    writing-mode: vertical-rl;
    
    grid-area: 5/5;
    justify-self: start;
  }
  .s-border{
    grid-area: 1/3/3/5;
    transform: translate(25%, 25%);
    z-index: -1;
  }
  .s-pattern{
    grid-area: 5/1/6/3;
    transform: translate(25%, 50%);
  }
}