doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Practice css grid
  body
    include includes/header.pug
    .app
      .box1.box
        .s-pattern
        .s-border
        .img(style="background-image:url('https://images.unsplash.com/photo-1513827379601-9dba5099a3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1acdd78f34ee75aade9e313251bb1695&auto=format&fit=crop&w=634&q=80')")
        .num 01
        h2.title(text="LINEN BLAZER") LINEN BLAZER
        .product Men’s outfit
      .box2.box
        .s-bg
        .s-border
        .img(style="background-image:url('https://images.unsplash.com/photo-1514632542677-48fae74a01b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf412aceb1d689765e387d30fca7210a&auto=format&fit=crop&w=668&q=80')")
        .num 02
        h2.title(text="FREELIFT") FREELIFT
        .product Men’s basics
      .box3.box
        .s-bg
        .s-border
        .img(style="background-image:url('https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-0.3.5&w=960')")
        .num 03
        h2.title(text="SUPER SKINNY") SUPER SKINNY
        .product Men’s pattern shirts
      .box4.box
        .s-pattern
        .s-border
        .img(style="background-image:url('https://images.unsplash.com/photo-1484516758160-69878111a911?ixlib=rb-0.3.5&w=960')")
        .num 04
        h2.title(text="DENIM") DENIM
        .product Men’s cadual
      .box5.box
        .s-pattern
        .s-border
        .img(style="background-image:url('https://images.unsplash.com/photo-1525448198276-222de3961638?ixlib=rb-0.3.5&w=960')")
        .num 05
        h2.title(text="SWEATSHIRTS") SWEATSHIRTS
        .product Men’s jacket
      .box6.box
        .s-bg
        .s-border
        .img(style="background-image:url('https://images.unsplash.com/photo-1519406709381-c1f293304b28?ixlib=rb-0.3.5&w=960')")
        .num 06
        h2.title(text="VINTAGE DENIM") VINTAGE DENIM
        .product Men’s classic
      .box7.box
        .s-bg
        .s-border
        .img(style="background-image:url('https://images.unsplash.com/photo-1516914943479-89db7d9ae7f2?ixlib=rb-0.3.5&w=960')")
        .num 07
        h2.title(text="EDITION") EDITION
        .product Men’s shirts