doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    include includes/header.pug
    .app
      .box1.box
        .s-pattern
        .s-border
        .img(style="background-image:url('https://images.unsplash.com/photo-1513827379601-9dba5099a3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1acdd78f34ee75aade9e313251bb1695&auto=format&fit=crop&w=634&q=80')")
        .num 01
        h2.title LINEN BLAZER
        .product Men’s outfit
      .box2.box
        .s-bg
        .s-border
        .img(style="background-image:url('https://images.unsplash.com/photo-1514632542677-48fae74a01b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf412aceb1d689765e387d30fca7210a&auto=format&fit=crop&w=668&q=80')")
        .num 02
        h2.title FREELIFT
        .product Men’s basics